In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,neighbors
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('datasets/breast-cancer-wisconsin.data')
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class\t\t
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [3]:
#most algorithms will treat this as an outlier as opposed to dumping the data
df.replace('?',-99999,inplace = True)

In [4]:
df.drop(['id'],1,inplace = True)

In [5]:
x = np.array(df.drop(['class\t\t'],1))

In [6]:
y = np.array(df['class\t\t'])
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class\t\t
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [8]:
clf = neighbors.KNeighborsClassifier()

In [9]:
clf.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [10]:
accuracy = clf.score(x_test,y_test)
print(accuracy)

0.9928571428571429

In [11]:
#Now we would try to predict values
#We reshape the numpy array so that we can feed it through sckikit learn.
example_measures = np.array([4,2,1,1,1,2,3,2,1]).reshape(1,-1)

In [12]:
prediction = clf.predict(example_measures)
print(prediction)

[2]